

@{
    ViewBag.Title = "Kontakt";
}

<h3>@ViewBag.Message</h3>



<address>
    <strong>Internationale projekter:</strong>   <a href="mailto:vhn@tec.dk">Vibeke Nørgaard</a><br />
    <strong>Budget og regnskab:</strong> <a href="mailto:gmj@tec.dk">Glenn Møller Jensen</a>
</address>