

@{
    ViewBag.Title = "Hjem";
}

<div class="jumbotron" style="background-color: #004b46; color: white">
    <h1>TEC Projekter</h1>
    <p class="lead">
    TEC Projekter giver en oversigt over ansøgte projekter og fonde. Oversigten skal bidrage til at styrke kvaliteten af
        projektansøgningerne, og give et bedre overblik over projektporteføljen.
    </p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Overskrift 1</h2>
        
        <p>
            Indhold
        </p>
        
    </div>
    
    <div class="col-md-6">
        <h2>Overskrift 2</h2>
        <p>Indhold</p>
        
    </div>
</div>